<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" runat="server">Posts</a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="navbar-nav">
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }" class="nav-item"><a class="nav-link" [routerLink]="['/']">Home</a></li>
        </ul>
      <div class="navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <li *ngIf="!authService?.loggedIn()" [routerLinkActive]="['active']" class="nav-item"><a class="nav-link" [routerLink]="['/login']">Login</a></li>
          <li *ngIf="!authService?.loggedIn()" [routerLinkActive]="['active']" class="nav-item"><a class="nav-link" [routerLink]="['/register']">Register</a></li>
          <li *ngIf="authService?.loggedIn()" [routerLinkActive]="['active']" class="nav-item"><a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a></li>
          <li *ngIf="authService?.loggedIn()" class="nav-item"><a class="nav-link" (click)="onLogoutClick()" href='#'>Log Out</a></li>
        </ul>
      </div>
    </div>
  </nav>
  